img, embed, object, video {
max-width: 100%;
}
.pagina {
margin-left:18%;
margin-right: 18%;
margin-top: 12%;
margin-bottom: 12%;
} 
.mate {
overflow-x: auto;
}
h {
font-family: serif;
}
p {
font-family: serif;
}
li {
font-family: serif;
}
.sourceCode {
overflow-x: auto;
}
