img, embed, object, video .MathJax_Display, .MJXc-display, .MathJax_SVG_Display {
max-width: 100%;
}
.pagina {
margin-left:18%;
margin-right: 18%;
margin-top: 12%;
margin-bottom: 12%;
} 
* {
font-family: serif;
}
